{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<div>
    {% if is_granted('IS_AUTHENTICATED')%}
    <h1>Vous êtes connecté !</h1>
    <form action="/logout" method="POST"> 
        <button type="submit">Log out</button>
    </form>
    {% else %}
    <a href='/login'>Login</a>
    <a href='/register'>Register</a>
    {% endif%}
</div>
{% endblock %}
